dataDownload/football-data_apikey.txt
dataDownload/xmlsoccer.R
classification/results.txt
core/dataModel.mwb
core/dataModel.mwb.bak
.Rproj.user
*.Rhistory
*.RData
*.Rproj
data/
plots/
xmlsoccer_data
data_for_classifocation.csv
tmp
javaDownloader
xmlsoccer_data